# Database
POSTGRES_DB=kittygram
POSTGRES_USER=kittygram_user
POSTGRES_PASSWORD=password
DB_HOST=db
DB_PORT=5432

# Backend
DEBUG=True
SECRET_KEY=secret-key
ALLOWED_HOSTS=localhost,127.0.0.1,backend
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=admin-password

# Docker
DOCKER_USERNAME=name

#GitHub Actions secrets only
DOCKER_TOKEN=token

DEPLOY_HOST=host
DEPLOY_USER=user
DEPLOY_SSH_KEY=key
DEPLOY_SSH_PASSPHRASE=pass

TELEGRAM_TO=user
TELEGRAM_TOKEN=token