version: '3.8'

services:
  db:
    image: postgres:18-alpine
    volumes:
      - pg_data:/var/lib/postgresql/data
    restart: always
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    networks:
      - kittygram_network
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    image: ${DOCKER_USERNAME}/kittygram_backend:latest
    container_name: backend
    restart: always
    volumes:
      - static:/app/collected_static
      - media:/app/media
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
      - DEBUG=${DEBUG}
      - SECRET_KEY=${SECRET_KEY}
      - ALLOWED_HOSTS=${ALLOWED_HOSTS}
    depends_on:
      - db
    networks:
      - kittygram_network

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    image: ${DOCKER_USERNAME}/kittygram_frontend:latest
    container_name: frontend
    volumes:
      - static:/app/static
    restart: always
    depends_on:
      - backend
    networks:
      - kittygram_network

  gateway:
    build:
      context: ./nginx
      dockerfile: Dockerfile
    image: ${DOCKER_USERNAME}/kittygram_gateway:latest
    container_name: gateway
    ports:
      - "80:80"
    restart: always
    volumes:
      - static:/app/static
      - media:/app/media
    depends_on:
      - backend
      - frontend
    networks:
      - kittygram_network

volumes:
  static:
  media:
  pg_data:


networks:
  kittygram_network:
    driver: bridge
