name: Main workflow

on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main


jobs:
    tests:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@4

            - name: Set up Python
              uses: actions/setup-python@v4
              with:
                python-version: '3.14'

            - name: Install flake8
              run: pip install setuptools --upgrade flake8==6.0.0 flake8-isort==6.0.0

            - name: Run flake8
              run: python -m flake8 backend/


    push-docker-images:
        runs-on: ubuntu-latest
        needs:
          tests
        steps:
            - name: Checkout code
              uses: actions/checkout@4
              
            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Login to Docker Hub
              uses: docker/login-action@v3 
              with:
                username: ${{ secrets.DOCKER_USERNAME }}
                password: ${{ secrets.DOCKER_TOKEN }}

            - name: Build and push backend
              uses: docker/build-push-action@v5
              with:
                context: ./backend
                file: Dockerfile
                push: true
                tags: ${{ secrets.DOCKER_USERNAME }}/kittygram_backend:latest
            
            - name: Build and push frontend
              uses: docker/build-push-action@v5
              with:
                context: ./frontend
                file: Dockerfile
                push: true
                tags: ${{ secrets.DOCKER_USERNAME }}/kittygram_frontend:latest

            - name: Build and push gateway
              uses: docker/build-push-action@v5
              with:
                context: ./nginx
                file: Dockerfile
                push: true
                tags: ${{ secrets.DOCKER_USERNAME }}/kittygram_gateway:latest
              
    deploy:
      runs-on: ubuntu-latest
      needs:
        push-docker-images
      steps:
        - name: Checkout code
          uses: actions/checkout@4

        - name: Copy docker-compose.yml via ssh
          uses: appleboy/scp-action@master
          with:
            host: ${{ secrets.DEPLOY_HOST }}
            username: ${{ secrets.DEPLOY_USER }}
            key: ${{ secrets.DEPLOY_SSH_KEY }}
            passphrase: ${{ secrets.DEPLOY_SSH_PASSPHRASE }}
            script: |
              cat > ./app/.env << EOF
              # Database
              POSTGRES_DB=${{ secrets.POSTGRES_DB }}
              POSTGRES_USER=${{  secrets.POSTGRES_USER }}
              POSTGRES_PASSWORD=${{  secrets.POSTGRES_PASSWORD }}
              DB_HOST=${{  secrets.DB_HOST }}
              DB_PORT=${{  secrets.DB_PORT }}

              # Backend
              DEBUG=${{  secrets.DEBUG }}
              SECRET_KEY=${{  secrets.SECRET_KEY }}
              ALLOWED_HOSTS=${{  secrets.ALLOWED_HOSTS }}
              DJANGO_SUPERUSER_USERNAME=${{  secrets.DJANGO_SUPERUSER_USERNAME }}
              DJANGO_SUPERUSER_EMAIL=${{  secrets.DJANGO_SUPERUSER_EMAIL }}
              DJANGO_SUPERUSER_PASSWORD=${{  secrets.DJANGO_SUPERUSER_PASSWORD }}

              # Docker
              DOCKER_USERNAME=${{  secrets.DOCKER_USERNAME }}
              EOF 
            source: "docker-compose.production.yml"
            target: "./app"

        - name: Run containers
          uses: appleboy/ssh-action@master
          with:
            host: ${{ secrets.DEPLOY_HOST }}
            username: ${{ secrets.DEPLOY_USER }}
            key: ${{ secrets.DEPLOY_SSH_KEY }}
            passphrase: ${{ secrets.DEPLOY_SSH_PASSPHRASE }}
            script: |
              cd ./app && \
              docker compose -f docker-compose.production.yml pull && \
              docker compose -f docker-compose.production.yml down && \
              docker compose -f docker-compose.production.yml up -d
    telegram-notify:
      runs-on: ubuntu-latest
      needs: deploy
      steps:
        - name: Send Telegram message on commit
          uses: appleboy/telegram-action@master
          with:
            to: ${{ secrets.TELEGRAM_TO }}
            token: ${{ secrets.TELEGRAM_TOKEN }}
            message: |
              GitHub Actions Workflow Status:
              Repository: ${{ github.repository }}
              Commit: ${{ github.sha }}
              Message: ${{ github.event.head_commit.message }}
              Status: ${{ job.status }}
          if: always()
